
.border {
  border: 1px solid red;
}

.desocultar {
  display: none;
}

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 5rem;
}

.navbar-default .navbar-nav>.active>a {
  color: rgb(57, 155, 209);
  background-color: inherit;
}

/* JUMBOTRON SECTION */

.carousel {
  margin-top: 5rem;
  overflow: hidden;
  height: 47rem;
}

.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.info {
  margin: 11.85rem auto;
  color: white;
  text-shadow: -1px -1px 0 black;
  text-align: center;
}

.info h1 {
  font-family: Monoton;
  font-size: 7.1rem;
}

.info p {
  margin: 0 auto;
  width: 51.3rem;
  margin-bottom: 2.8rem;
}

.info a {
  text-shadow: none;
  width: 11.4rem;
  padding: 1.3rem auto;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.info a:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.info a:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* FEATURED SECCION */

.blue {
  color: #399bd1;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.eightyfive {
  width: 85%;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  background-size: contain;
  opacity: 0.7;
  transition: all 500ms ease-in;
  background-position: center;
  overflow: hidden;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.no-margin {
  margin: 0;
  padding: 0;
}

/* PROYECTS SECTION */

#projects .proyect h3 {
  margin-top: 40px;
}

/* HAVING TROUBLE SECTION */

#trouble {
  margin-top: 3rem;
  background-color: #f3f3f3;
  text-align: center;
}

#trouble .info {
  margin: 5.2rem auto;
  color: black;
  text-shadow: none;
}

#trouble strong {
  font-size: 2.5rem;
}

#trouble p {
  margin: 1.4rem auto;
  width: 42rem;
}

#trouble a {
  text-shadow: none;
  width: 11.4rem;
  padding: 1.3rem auto;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#trouble a:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

#trouble a:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 767px) {
  .ocultar {
    display: none;
  }

  .desocultar {
    display: block;
  }

  nav {
    height: 10rem;
  }

  .carousel {
    margin-top: 10rem;
  }

  .info {
    width: 100%;
  }

  .info h1 {
    font-size: 5.7rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .info p {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2.8rem;
  }

  #trouble p {
    width: 80%;
  }
}
